body {
  background: linear-gradient(to bottom right, #93e1f0, #ffe4f0);
  font-family: 'Chicle';
  text-align: center;
  padding: 40px;
  color: #151131;
}

.admin-container {
  max-width: 600px;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.521);
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0 0 20px rgba(16, 1, 71, 0.678);
}

input[type="password"] {
  padding: 10px;
  border-radius: 12px;
  border: 2px solid #ccc;
  font-size: 1rem;
  margin: 10px;
}

button {
  padding: 10px 20px;
  background-color: #ffcc00;
  border: none;
  border-radius: 15px;
  font-size: 1rem;
  cursor: pointer;
}

#lista-registros {
  text-align: left;
  margin-top: 20px;
  max-height: 300px;
  overflow-y: auto;
}

.registro {
  background: #f9f9f9;
  border-radius: 12px;
  padding: 12px;
  margin: 10px 0;
  border-left: 5px solid #ffbb00;
}
